#!/bin/sh
# {{ ansible_managed }}
{% set merged = firewall_v6_default_rules.copy() %}
{% set _ = merged.update(firewall_v6_group_rules) %}
{% set _ = merged.update(firewall_v6_host_rules) %}

# flush rules & delete user-defined chains
{{ firewall_v6_flush_chain_command }}
{{ firewall_v6_delete_chain_command }}

{% for group, rules in merged|dictsort  %}
# {{ group }}
{% if not rules %}
# (none)
{% endif %}
{% for rule in rules %}
ip6tables {{ rule }}
{% endfor %}

{% endfor %}
